body {
  background-color: rgba(241, 209, 184, 0.15);
}

.header {
  width: 100%;
  margin: auto;
  background-color:rgb(0, 167, 126);
  margin-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.headerLeft {
  /* Part of Header; replace with logo */
  color: rgb(255, 255, 255);
}

.headerRight {
  /* Part of Header */
  color: rgb(255, 255, 255);
}

.trunk {
  /* Includes everything underneath Header, such as form */
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  padding-bottom: 2em; 
}

.imageBar {
  /* Collects new images and houses a button for adding new ones */
  margin-bottom: 2em;
  /* width: 200%; */
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  transition: height 0.5s;
  flex-wrap: wrap;
}

.modal-backdrop {
  /* Shading behind the 'View fullsized image' modals */
  background-color: #0000005c;
}

.modal-body {
  /* 'View fullsized image' modal background */
  padding: 1px;
}

.modal-content {
  /* Content within the 'view fullsized picture' modal. */
  position: sticky !important;
  border: none !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
}

.closeModal {
  /* Delete button inside imageFrame, targeting that specific image */
  width: 46px;
  height: 46px;
  position: absolute;
  top: -15px;
  right: -15px;
  background-color:rgb(200, 200, 200);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 90%;
}

.closeModal:before {
  content: "";
  height: 42px;
  width: 42px;
  position: absolute;
  border-radius: 90%;
  border: 2px dashed rgb(255, 255, 255);
  top: 2px;
  left: 2px;
}

.closeModal:focus, .closeModal:active {
  border: none !important;
  box-shadow: none !important;
}

.fa-times {
  font-size: 25px;
  margin-top: 3px;
}

.fullscreen {
  /* The image housed in the 'view fullsized picture' modal. */
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.modal__close {
  /* Delete button inside imageFrame, targeting that specific image */
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0;
  right: 0;
  background-color:rgb(200, 200, 200);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 90%;
}

.modal__close:before {
  content: "";
  height: 42px;
  width: 42px;
  position: absolute;
  border-radius: 90%;
  border: 3px dashed rgb(255, 255, 255);
  top: 2px;
  left: 2px;
}

.modal__close:focus, .modal__close:active {
  border: none !important;
  box-shadow: none !important;
}

.fa-times-modal {
  font-size: 25px;
  margin-top: 0.2rem;
}

/* Animations for added pictures */
@keyframes imageFadeIn {
  0% {
    left: -164.5px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.imageFrame {
  /* Frame for housing a new image & delete button for that specific image. Imagebar has several of these */
  height: 200px;
  width: 150px;
  margin-left: 15px;
  margin-top: 1em;
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  opacity: 1;
  animation-name: imageFadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.newImage {
  /* The image inside imageFrame. Tagged as a button (for firing a modal). */
  height: inherit;
  width: inherit;
  overflow: hidden;
  top: 0 !important;
  border: none !important;
  border-radius: 5px;
  padding: 0 !important;
}

.newImage:focus, .newImage:active {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2) !important;
  border: none !important;
}

.image {
  /* New <img> added to Image Bar, housed inside newImage in imageFrame */
  height: inherit;
  /* Temporary fix to centering images, unlikely to work on portraits...: */
  margin-left:-40%;
}

.deleteImage {
  /* Delete button inside imageFrame, targeting that specific image */
  position: absolute;
  top: -10px;
  right: -10px;
  background-color:rgb(200, 200, 200);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 90%;
}

.deleteImage:before {
  content: "";
  height: 32px;
  width: 32px;
  position: absolute;
  border-radius: 90%;
  border: 2px dashed rgb(255, 255, 255);
  top: 2px;
  left: 2px;
}

.deleteImage:focus, .deleteImage:active {
  border: none !important;
  box-shadow: none !important;
}

.modal-body .deleteImage {
  top: 40px;
}

.fa-trash-alt {
  /* Icon for deleteImage button */
  font-size: 14px;
}

.camera__container {
  overflow: hidden;
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.camera__actual {
  margin-left: -160%;
}

.camera__modal--hidden {
  display: none !important;
}

.camera__modal {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  top: 0;
  left: 0;
}

.modal__content {
  display: flex;
  width: auto;
  position: absolute;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
  margin-top: 5rem;
  overflow: hidden;
}

.capture, .capture__loading {
  width: 76px;
  height: 76px;
  position: absolute;
  background-color:rgb(200, 200, 200);
  color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 90%;
  bottom: 10px;
}

.capture:before, .capture__loading:before {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 90%;
  left: 3px;
  top: 3px;
}

.capture__loading:after {
  content: "";
  display: block;
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: transparent !important;
  border-radius: 90%;
  border: 6px solid;
  border-color: rgb(255, 255, 255) transparent rgb(255, 255, 255) transparent;
  animation: capture__animation 0.9s linear infinite;
  top: 10px;
  left: 10px;
}

@keyframes capture__animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-camera-modal {
  font-size: 35px !important;
}

.modal__close {
  /* Delete button inside imageFrame, targeting that specific image */
  width: 46px;
  height: 46px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color:rgb(200, 200, 200);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 90%;
  z-index: 11;
}

.modal__close:before {
  content: "";
  height: 42px;
  width: 42px;
  position: absolute;
  border-radius: 90%;
  border: 3px dashed rgb(255, 255, 255);
  top: 2px;
  left: 2px;
}

.modal__close:focus, .modal__close:active {
  border: none !important;
  box-shadow: none !important;
}

.fa-times-modal {
  font-size: 25px;
  margin-top: 0.2rem;
}

.addImage {
  /* Button for adding new images to image bar */
  height: 200px;
  width: 150px;
  color: rgb(255, 255, 255);
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  border: none;
  margin-top: 1em;
  margin-left: 15px;
  top: 0;
  left: 0;
  transition: left 0.5s, top 0.5s;
}

.addImage:before {
  content: "";
  height: 190px;
  width: 140px;
  border: 5px dashed rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5000;
}

.addImage:focus, .addImage:active {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2) !important;
  border: none !important;
}

.fa-camera {
  /* The camera icon within addImage button */
  font-size: 50px;
  position: relative;
  z-index: 5000;
  opacity: 1;
}

input, textarea {
  /* Form inputs */
  border: 2px rgb(0, 167, 126) solid !important;
}

/* Input on failed validation */
.is-invalid {
  border: 2px rgb(220, 53, 69) solid !important;
}

.invalid-category {
  /* Category validation styling */
    width: 100%;
    margin-top: .25rem;
    margin-bottom: 1rem;
    font-size: 80%;
    color: rgb(220, 53, 69);
  }

input:focus, textarea:focus {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2) !important;
  border: 2px rgb(0, 167, 126) solid !important;
}

#react-select-2-input, #react-select-2-input:focus {
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.weight {
  /* Button for refreshing the item weight */
  color: rgb(255, 255, 255);
  background-color: rgb(0, 167, 126);
  border: rgb(0, 167, 126);
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
}

.weight:hover, .weight:active {
  background-color: rgb(0, 117, 88);
  border: rgb(0, 167, 126);
}

.weight:focus {
  box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.4) !important;
}

.fa-sync-alt {
  /* Refresh icon for weight button */
  font-size: 20px;
  /* padding-left: 2em; */
  /* padding-right: 2em; */
}

.submit {
  /* onSubmit button of the form */
  width: 17rem;
  height: 50px;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 167, 126);
  border: rgb(0, 153, 115);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.submit:hover, .submit:active {
  background-color: rgb(0, 117, 88);
  border: rgb(0, 153, 115);
}

.submit:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4) !important;
}

.input-group {
  margin-bottom: 1rem;
  z-index: 0;
}

.css-xwjg1b {
  /* Tag in React-Select */
  border: 1px solid rgb(0, 153, 115);
  border-radius: 1em !important;
  overflow: hidden !important;
}

.css-12jo7m5 {
  /* Text inside a tag */
  padding-top: 0 !important;
  background-color: rgb(240, 240, 240) !important;
  padding-right: 0.5rem !important;
}

.css-1alnv5e {
  /* Remove button inside a tag */
  padding-left: 0.2 !important;
  background-color: rgb(0, 167, 126);
  border-radius: 0 !important;
  border-left: 1px solid rgb(0, 153, 115);
  color: rgb(255, 255, 255);
}

.css-1alnv5e:hover {
  background-color: rgb(0, 117, 88) !important;
  color: rgb(255, 255, 255) !important;
}