#Node modules
/node_modules

#Idea files
/.idea

#google auth file
**/googleKey.json

.DS_Store


yarn.lock
package-lock.json

#vscode files
/.vscode

#images
/services/imageRecognition/images/*

**/*.jpg

npm-debug.log

package-lock.json
