#Node modules
/node_modules

#Idea files
/.idea

#google auth file
/services/voiceRecognition/key.json

.DS_Store

#Keys
/services/voiceRecognition/key.json
/services/imageRecognition/key.json

yarn.lock

#vscode files
/.vscode

#images
/services/imageRecognition/images/*

/server/config/keys/googleKey.json

**/*.jpg