#Node modules
/node_modules

#Idea files
/.idea

#google auth file
/services/voiceRecognition/key.json

.DS_Store


yarn.lock

#vscode files
/.vscode

#images
/services/imageRecognition/images/*

*/googleKey.json

**/*.jpg

npm-debug.log