language: node_js
node_js:
  - 8
# linux dist
dist: trusty

cache:
    directories:
    - node_modules
    - client/node_modules

install:
  - npm install
  - cd client && npm install

script:
  - npm run lint
  - cd client && npm run test