*{margin:0; padding:0;}
*:focus {outline:0;}
html{
  background: #fcf8f4;
}
.App{
  max-width: 100vw;
  min-width: 100vh;
  height: 100vh;
}

header{
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
  padding: 10px;
  color: #F8F8F8;
  background: #00a87d;
}

.sideBar{
  top:0px;
  left:0;
  height: 100vh;
  padding-top: 45px;
  float:left;
  background: #fcf8f4;
}

.content{
  width: 100%;
  padding-top:50px;
}

.editor{
  width:49%;
  padding:0 5px;
  float:left;
}

.split--wide {
  width:66%;
  float:left;
  padding:1%;
}

.split--narrow {
  width:33%;
  float:left;
  padding:1%;
}

.split--half {
  width:48%;
  float:left;
  padding:1%;
}

.DraftEditor-editorContainer {
  background-color: #fff !important;
  padding: 10px;
  min-height: 332px;
}

.rdw-editor-wrapper {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #00000033;
  overflow: hidden;
}

.rdw-editor-toolbar {
  position: relative;
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important;
}

.rdw-editor-toolbar::after {
  content: "";
  position: relative;
  width: 98%;
  bottom: -1em;
  left: 1%;
  z-index: 2;
  border-bottom: #c8c8c873 solid 1px;
}


.resultCon{
  width:98%;
  min-height: 400px;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #00000033;
  background:#FFF;
}

h3{
  margin:0 auto;
  color: #CCC;
}

.settingsCon{
  width: 100%;
}

.editorButton{
  background-color: #00a87d;
  color:#FFF;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px;
  margin-right: 0.5rem;
  box-shadow: 1px 2px 4px 0 #00000033;
}

.editorButton:hover, .editorButton:active, .editorButton:focus {
  background-color: #007558 !important;
  border: rgb(0, 153, 115);
  box-shadow: 2px 4px 8px 0 #00000033;
}

.clearEditor {
  background-color: #ffffff;
  color: #474747;
  border-radius: 90%;
  border: #c8c8c8 solid 2px;
  position: relative;
  top: -60px;
  left: 201.5%;
  z-index: 3;
}
.clearEditor:hover, .clearEditor:active, .clearEditor:focus {
  color: #dc3545;
  background-color: #dc354526 !important;
  border-color: #dc3545;
  box-shadow: 0 2px 4px 0 #00000033;
}

.saveNew {
  position: relative;
  left: -53px;
  z-index: 3;
}

.saveEdit, .discardEdit {
  position: relative;
  right: -31%;
}

.clear{clear:left}

.template {
  margin: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 4px 8px 2px #00000033;
  -moz-box-shadow: 0 4px 8px 2px #00000033;
  box-shadow: 0 1px 4px 1px #00000033; 
  border-radius: 5px;
  padding: 2px;
}

.template__body {
  margin: 1px 0 0 0;
  padding: 5px;
  padding-bottom: 1em;
  background-color: #f0eeee;
  border-radius: 0 0 5px 5px;
}

.template__head {
  width: 100%;
  text-align: center;
  background-color: #00a87d;
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 2px;
}

.template__footer {
  padding: 5px;
  width: 100%;
  text-align: center;
}

.button__edit {
  padding-left: 2em;
  padding-right: 1em;
  background-color: #ffffff;
  border-radius: 15px 0 0 15px;
  border-top: #c8c8c8 solid 1px;
  border-bottom: #c8c8c8 solid 1px;
  border-left: #c8c8c8 solid 1px;
  border-right: none;
  color: #00a87d !important;
}

.button__delete::before {
  content: "";
  position: relative;
  left: -1em;
  border-left: rgb(200, 200, 200) solid 1px;
}

.button__delete {
  padding-left: 1em;
  padding-right: 2em;
  background-color: #ffffff;
  border-radius: 0 15px 15px 0;
  border-top: #c8c8c8 solid 1px;
  border-bottom: #c8c8c8 solid 1px;
  border-left: none;
  border-right: #c8c8c8 solid 1px;
  color: #dc3545 !important;
}

.button__edit:hover, .button__edit:active, .button__edit:focus {
  background-color: #00a77e26 !important;
  box-shadow: -1px 0 4px 0 #00000033;
}

.button__delete:hover, .button__delete:active, .button__delete:focus {
  background-color: #dc354526 !important;
  box-shadow: 2px 1px 4px -1px #00000033;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.editor-class {
  background-color: #fff !important;
  padding: 10px; 
  min-height: 300px;
}

.css-10nd86i {
  margin-bottom: 0.5rem; 
}

.css-15k3avv {
  z-index: 1000 !important;
}